body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}


header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  margin: 10px;
  padding:10px;
}

p{
  text-align: justify;
}

.title{
  color:#4e535c;
}

#my-h2-id{
  text-decoration: underline;
}